h1 {
  font-family: 'Oxygen', sans-serif;
}
hr.visible-xs {
  border-color: black;
}
.navbar-default .navbar-nav>li>a {
  color: black;
  margin-right: 20px;
}
.navbar-brand {
  padding-top: 20px;
}
.navbar-brand h1 {
  font-family: 'Lora', serif;
  font-size: 1.5em;
  font-weight: bold;
  text-shadow: 1px 1px 1px #222;
  margin-top: 0;
  margin-bottom: 0;
  line-height: .75;
}
.navbar-brand a:hover, .navbar-brand a:focus {
  text-decoration: none;
}
#chicken, #beef, #sushi{
  background-color: #d2d3d3;
  border: 2px solid #3F0C1F;
  padding: 5px 15px;
  margin-top: 30px;
  height: auto;
}